@import 'partials/variables';
@import 'partials/mixin';

$fa-font-path: 'fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.container{
    margin: 0 auto;
    width: 1100px;
}

.container::after{
    @include clear-fix;
}

/*HEADER*/

header,
footer{
    background-color: $backgroun-color;
}

.header-top::after{
    @include clear-fix;
}

.info{
    float: right;
    @include flex-par(space-between,none);

    div{
        padding: $spacing;
        i{
            color: $button-color;
        }
        a{
            @include link-style-1;
        }
    }
}

.header-bottom{
    /*flex-par(justify-content/align-items)*/
    @include flex-par(none,center);

    .logo{
        width: 125px;
        img{
            width: 80%;
        }
        &:hover{
            cursor: pointer;
        }

    }
    ul{
        list-style: none;
        li{
            text-decoration: none;
            display: inline-block;
            color: $primary-text-color;
            font-size: $font-size-1;
            padding: $spacing * 2;
            padding-left: $spacing * 2;
            padding-right: $spacing * 2;
            i{
                color: $tertiary-text-color;
            }
            &:hover{
                cursor: pointer;
                background-color: $primary-text-color;
                color: $secondary-text-color;
            }
        }
    }
}






main{
    height: 400px;
}

/*FOOTER*/

footer .row{
    /*flex-par(justify-content/align-items)*/
    @include flex-par(space-between,center);
}

.footer-left{
    img{
        padding: $spacing * 1.5;
    }

}

.footer-right{
    a{
        @include link-style-1;
        padding: $spacing;
    }
    span{
        padding: $spacing;
        color: $primary-text-color;
        font-size: $font-size-1;
    }
}
